[submodule ".registry"]
	path = .registry
	url = https://github.com/shikokuchuo/shikokuchuo.r-universe.dev
	branch = HEAD
[submodule "ichimoku"]
	path = ichimoku
	url = https://github.com/shikokuchuo/ichimoku
[submodule "mori"]
	path = mori
	url = https://github.com/shikokuchuo/mori
[submodule "secretbase"]
	path = secretbase
	url = https://github.com/shikokuchuo/secretbase
