[submodule ".registry"]
	path = .registry
	url = https://github.com/shikokuchuo/shikokuchuo.r-universe.dev
	branch = HEAD
[submodule "fireworks"]
	path = fireworks
	url = https://github.com/shikokuchuo/fireworks
[submodule "ichimoku"]
	path = ichimoku
	url = https://github.com/shikokuchuo/ichimoku
[submodule "mirai"]
	path = mirai
	url = https://github.com/shikokuchuo/mirai
[submodule "nanonext"]
	path = nanonext
	url = https://github.com/shikokuchuo/nanonext
[submodule "secretbase"]
	path = secretbase
	url = https://github.com/shikokuchuo/secretbase
